@using ChatApp.Models.Group;
@model GroupIndexModel
@if (@Model.Groups != null)
{
    <div class="container">
        <ul class="list-group list-group-horizontal">
            @foreach (var group in @Model.Groups)
            {
                
                    <li class="list-group-item p-3 col-3">
                        <form asp-controller="Group" asp-action="Join" asp-route-groupId="@group.Id">
                            <button type="submit"> @group.Id : @group.Name</button>
                        </form>
                    </li>
               
            }
        </ul>


            <div class="row justify-content-end">
                <a asp-action="Create" class="btn btn-warning" asp-controller="Group">Add Group</a>
            </div>

</div>
}


