@using ChatApp.Domain;
@using System.Security.Claims;
@model Group
  
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">

            <div class="title">
                <span>@Model.Name</span>
            </div>

            @foreach (var channel in Model.Channels)
            {
                <div class="channelText">
                    <form asp-action="Join" asp-controller="Channel" asp-route-channelId="@channel.Id" asp-route-connectionId="">
                        <button type="submit"><span>@channel.Name</span></button>
                    </form>

                </div>
            }
            @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.ProfileId)
            {
                <div class="channelText">
                    <form asp-route-groupId="@Model.Id" asp-action="Create" asp-controller="Channel">
                        <button type="submit"><span>Add Channel +</span></button>
                    </form>

                </div>
            }




        </div>
        <div class="flexbox-item flexbox-item-2">
            <div class="chat-body">

            </div>



            <form id="inputsendmessage" style="display:none;" class="chat-input" onsubmit="sendMessage(event)" asp-controller="Chat" asp-action="CreateMessage">
                <input type="hidden" name="channelID" value="@Model.Name" />
                <input type="text" name="message" id="message-input">
                <button type="submit"> Send</button>
            </form>

        </div>
        <div class="flexbox-item flexbox-item-3">
            <div class="title">
                <span>Other Users</span>
            </div>
        </div>
    </div>
<script>
    

    window.onload = function() {
 hideOtherUsersPanel();
};
    var hideOtherUsersPanel = function () {
           var x = document.getElementsByClassName('flexbox-item flexbox-item-3')[0];
        x.style.display = "none";
    }




    
</script>

