@using ChatApp.Models.Group;

@model ChannelSelectedViewModel
  
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">

            <div id="groupTitle">
                ---------------> @Model.Name <--------------
            </div>

            @foreach (var channel in Model.Channels)
            {

                <div class="channelText">
                    <form asp-action="JoinChannel" asp-controller="Chat" asp-route-channelId="@channel.Id">
                        <button type="submit"><span>@channel.Name</span></button>
                    </form>

                </div>
            }

            @foreach (var channel in Model.Channels)
            {
                <div class="channelText">
                    <form asp-action="JoinChannel" asp-controller="Chat" asp-route-channelId="@channel.Id">
                        <button type="submit"><span>@channel.Name</span></button>
                    </form>

                </div>
            }

            <div class="channelText">
                <form asp-action="CreateChannel" asp-controller="Chat">
                    <button type="submit"><span>Add Channel +</span></button>
                </form>

            </div>



        </div>
        <div class="flexbox-item flexbox-item-2">
            <div class="messages">
                <div class="message">
                    <header>Server</header>
                    <p>Welcome to our server</p>
                    <small>@DateTime.Now.ToShortTimeString()</small>
                </div>
                @foreach (var message in Model.SelectedChannel.Chat.Messages)
                {
                    <div class="message">
                        <header>@message.ProfileName</header>
                        <p>@message.Text</p>
                        <small>@message.Timestamp</small>
                    </div>
                }

                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
                <div class="message">
                    <header>Name</header>
                    <p>Text</p>
                    <small>Timestamp</small>
                </div>
            </div>



            <form id="inputsendmessage" class="chat-input" onsubmit="sendMessage(event)" asp-controller="Chat" asp-action="CreateMessage">
                <input type="hidden" name="channelID" value="@Model.Name" />
                <input type="text" name="message" id="message-input">
                <button type="submit"> Send</button>
            </form>

        </div>
        <div class="flexbox-item flexbox-item-3">
            <a>
                -----> Friends <------
            </a>
        </div>


    </div>
@section scripts
{
    <script src="~/js/signalr.min.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script>

  
    </script>
}

